@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-x-auto::-webkit-scrollbar {
    height: 2px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 1px;
  }

  /* For Firefox */
  .overflow-x-auto {
    scrollbar-width: thin;
    scrollbar-color: rgb(26, 26, 26) transparent;
  }